#headerEl {
  text-align: center;
  text-decoration: none;
  margin: 0px;
  border: 0px;
}
header {
  background-color: #273043;
  margin: 0;
}
#headerClick {
  text-decoration: none;
  display: block;
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color:#EFF6EE;
}
body {
  background-color: #9197AE;
  min-height: 100vh;
}
.header-logo{
  width: 300px;
}

.navLog {
  display: flex;
  justify-content: center;
}

button {
  background-color: #F02D3A;
  color: white;
  border: 0px;
  margin: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: Arial, Helvetica, sans-serif;
  color:#EFF6EE;
}

.searchBar{
  display: flex;
  justify-content: center;
}

.movieListTitle{
  text-align: center;
  font-size: 18px;
}

.imgEl {
  width: 10%; 
}

.review-form {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #9197AE;
    margin: 10px;
  }
  .form-field {
    display: grid;
    grid-template-columns: 100px 1fr;
    margin-bottom: 10px;
  }
  .form-field label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 10px;
  }
  .form-field input,
  .form-field textarea {
    font-size: 1.2rem;
    padding: 5px;
  }
  .form-actions {
    text-align: center;
  }
  .form-actions button {
    font-size: 1.2rem;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

label{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

ul{
  list-style: none;
}

li {
  display: flex;
  flex-direction: column;
}



.trending-card{
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  height: 400px;
}

.trending-card::-webkit-scrollbar {
  width: 6px;
}

.trending-card::-webkit-scrollbar-track {
  background: none;
  background-color: #9197AE ;
}

.trending-card::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.trending-card::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.trending {
  object-fit: contain;
  height: 100%;
  margin-right: 10px;
  flex-shrink: 0;
  width: 200px;
}

/* searched movies  */
.movie-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.movie-list-image {
  width: 400px;
}

/* movie details */
.movie-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movie-detail-img {
  width: 100%;
  max-height: 1000px;
  overflow: hidden;
}

.movie-detail-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.movie-detail-content {
  text-align: center;
  margin-top: 20px;
}

/* login */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px
}

label {
  margin-bottom: 10px;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-btn {
  padding: 10px 20px;
  background-color: #0077c2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #005ea8;
}

.register-center{
  display: flex;
  justify-content: center;
}
.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.register-form {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
}

.form-group{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cardReviews {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  margin: 5px;
}

.review-look{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 10px;
}

footer{
  text-align: center;
  padding: 10px;
  background-color: #273043;
  
  position: absolute;
  width: 100%;
  margin: 0;
}

.navLink{
  text-decoration: none;
  color: black;
}
