#headerEl {
  text-align: center;
}


.imgEl {
  width: 10%; 
}

ul{
  list-style: none;
}

li {
  display: flex;
  flex-direction: column;
}

.trending-container {

}

.trending-card{
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  height: 400px;

}

.trending-card::-webkit-scrollbar {
  display: none;
}

.trending {
  object-fit: contain;
  height: 100%;
  margin-right: 10px;
  flex-shrink: 0;
  width: 200px;
}

.movie-list-container {
  display: flex;
  flex-wrap: wrap;
}

.movie-list-image {
  width: 400px;
}


